body {
    background-color: #13262F;
    color: #50FFB1;
    /* display: flex; */
}

.credentials {
    margin: auto;
    display: block;
    background-color: #FFCA3A;
    color: black;
}

.info {
    margin: auto;
}