body {
    background-color: #13262F;
    color: #50FFB1;
    /* display: flex; */
}

.credentials {
    margin: 5px auto;
    display: block;
    background-color: #FFCA3A;
    color: black;
}

.info {
    margin: 5px auto;
}

/* Navigation menu */
nav {
    background-color: #333;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    float: right;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #111;
}