/* General body styling */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #13262F;
    color: #50FFB1;
    margin: 0; /* Remove default body margin */
    height: 100vh; /* Use full viewport height */
    font-family: Arial, sans-serif; /* Set a modern font */
}

/* Navigation menu */
nav {
    background-color: #333;
    width: 100%; /* Ensure nav spans full width */
    display: flex; /* Use flexbox for positioning */
    justify-content: flex-end; /* Align items to the right */
    padding: 10px 0; /* Add some padding */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display items in a row */
}

nav ul li {
    margin-left: 20px; /* Space between items */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

/* Center the logout button */
.logout-button {
    background-color: #FFCA3A;
    color: black;
    border: none;
    cursor: pointer;
    padding: 15px 30px; /* Add padding for a larger button */
    border-radius: 5px;
    font-size: 18px; /* Increase font size */
    font-weight: bold; /* Make text bold */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add smooth transition for background color and transform */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box-shadow for a slight 3D effect */
    margin-top: 20px; /* Add margin for spacing */
}

.logout-button:hover {
    background-color: #e6b635;
    transform: translateY(-3px); /* Slightly move the button up on hover */
}

.logout-button:active {
    background-color: #d4a636;
    transform: translateY(0); /* Reset the transform on click */
}
